.block-testimonial {
	background-color: $color-wild-sand;
	&__content {
		padding: rem(64) 0;
		@include media(">=md") {
			padding: rem(63) 0;
		}
		@include media(">=lg") {
			padding: rem(100) 0;
		}
	}
	&__subtitle {
		margin-bottom: rem(16);
		@include media(">=md") {
			margin-bottom: rem(16);
		}
		@include media(">=lg") {
			margin-bottom: rem(14);
		}
	}
	&__title {
		margin-bottom: rem(64);
		@include media(">=md") {
			width: rem(593);
			@include font(56, 64, false, -1.12);
			margin-bottom: rem(66);
		}
		@include media(">=lg") {
			@include font(80, 96, 700, -1.6);
			width: 100%;
			margin-bottom: rem(73);
		}
	}
	&__quotes {
		@include media(">=md") {
			display: flex;
			gap: 3%;
			justify-content: space-between;
		}
		@include media(">=lg") {
			gap: 2%;
		}
	}
	&__quote-box {
		background-color: $color-white;
		position: relative;
		padding: rem(24);
		margin-bottom: rem(32);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: rem(37);
		@include font(14, 24, 400, 0.28);
		@include media(">=md") {
			margin-bottom: 0;
			gap: rem(71);
			flex-basis: 32.33%;
			max-width: 32.33%;
		}
		@include media(">=xxl") {
			flex-basis: 32.6%;
			max-width: 32.6%;
			gap: rem(71);
			@include font(18, 28);
			padding: rem(40) rem(32) rem(40) rem(42);
			letter-spacing: rem(0.1);
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	&__quote {
		color: $color-mine-shaft;
	}
	&__author {
		color: $color-tundora;
		align-self: flex-end;
		width: 100%;
	}
}
