/*
----------------------------------------
COLORS

Colors in variables.
*/

$color-black: #000;
$color-white: #fff;

// Theme Colors
$color-dodger-blue: #3f66fb;
$color-mine-shaft: #333;
$color-bay-of-many: #1f327e;
$color-gray: #808080;
$color-wild-sand: #f5f5f5;
$color-mercury: #e5e5e5;
$color-tundora: #404040;
$color-cerulean-blue: #2f4cbc;
$color-scorpion: #595959;
$color-concrete: #f2f2f2;
$color-alto: #d6d6d6;
