/*
----------------------------------------
FONTS
*/

$font-base: "DM Sans", sans-serif;
$font-inter: "Inter", sans-serif;
$font-size-base: rem(20);
$line-height-base: rem(32);

// font weights
$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
